.col-12.m-o.p-0
  .footer.w-100{:style => "background-color: gray"}
    .footer_body.p-2
      %span.text-brown
        = link_to "About Us", about_us_path, class: 'text-brown'
      %span.text-brown
        = link_to "Contact Us", contact_us_path, class: 'text-brown'
      .right{:style => "float: right;"}
        %span.text-brown
          = link_to "Go home", root_path, class: 'text-dark'
        %span.text-brown
          = link_to "Go not home", root_path, class: 'text-dark'
        %span.text-brown
          = link_to "Go to the work", root_path, class: 'text-dark'
