.col-12.m-o.p-0
  .footer.w-100{:style => "background-color: gray"}
    .footer_body.p-2
      %span.text-brawn
        = link_to "Go home", root_path, class: 'text-dark'
      %span.text-brawn
        = link_to "Go not home", root_path, class: 'text-dark'
      %span.text-brawn
        = link_to "Go to the work", root_path, class: 'text-dark'
      .right{:style => "float: right;"}
        %span.text-brawn
          = link_to "Go home", root_path, class: 'text-dark'
        %span.text-brawn
          = link_to "Go not home", root_path, class: 'text-dark'
        %span.text-brawn
          = link_to "Go to the work", root_path, class: 'text-dark'
