.container
  .jumbotron
    %h1.display-4 Hello, my dear friend!
    %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    %hr.my-4/
    %p It uses utility classes for typography and spacing to space content out within the larger container.
    %a.btn.btn-primary.btn-lg{:href => new_user_registration_path, :role => "button"} Registration
  .row
    .col-2.offset-10.text-black
      = link_to "Show more films", films_path, class: 'text-brown'
  - @films.each do |film|
    .card.pt-2.d-sm-none.d-md-inline-flex{:style => "width: 270px;"}
      = image_tag film.logo , style: "max-height:210px;"
      .card-body
        %h5.card-title
          = film.title
        %p.card-text
          = film.small_description
      %ul.list-group.list-group-flush
        %li.list-group-item
          Year:
          = film.year
        %li.list-group-item
          Author:
          = film.author
        %li.list-group-item
          Category:
          = link_to film.films_category.name
          -# = film.films_category.name
      .card-body
        = link_to 'Show more info', film_path(film.id)

  = render partial: 'ads_section'
